@font-face {
  font-family: 'Linotype Univers W01';
  src: url('../fonts/df87702f-a933-4d3a-b9d9-4ae72506ae9d.eot');
  src: url('../fonts/df87702f-a933-4d3a-b9d9-4ae72506ae9d.eot?#iefix')
      format('eot'),
    url('../fonts/a84a4c95-eec7-4dda-b4f9-eef86c2f79b6.woff2') format('woff2'),
    url('../fonts/e4ae19e7-c510-4127-837d-8f218498da93.woff') format('woff'),
    url('../fonts/6fdd43a7-c877-42cb-8a63-d81872f46de8.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: 'Linotype Univers W01';
  src: url('../fonts/c14b251f-80d3-4415-8d21-b2868dea7a9b.eot?#iefix');
  src: url('../fonts/c14b251f-80d3-4415-8d21-b2868dea7a9b.eot?#iefix')
      format('eot'),
    url('../fonts/9c805799-5196-4294-93d5-2cb1ee50a286.woff2') format('woff2'),
    url('../fonts/78c7a8d2-8a85-47a5-8c13-049c7b18c9c0.woff') format('woff'),
    url('../fonts/02e005e1-ac11-49f9-b290-ee01bad12606.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: 'Linotype Univers W01';
  src: url('../fonts/82467ea2-e594-4e0f-870c-374e5f664454.eot?#iefix');
  src: url('../fonts/82467ea2-e594-4e0f-870c-374e5f664454.eot?#iefix')
      format('eot'),
    url('../fonts/dceadb9d-784f-4fbe-a861-9b031294d062.woff2') format('woff2'),
    url('../fonts/4f196f0d-462c-4cbc-ab22-113a2e7afe02.woff') format('woff'),
    url('../fonts/8e774d13-c8ce-4383-9420-c3538c07629c.ttf') format('truetype');
  font-weight: 600;
  font-style: normal;
}
