//spacing
$baseline: 20px;

//colours
$black: #000000;
$grey-1: #666666;
$grey-2: #c2c2c2;
$grey-3: #f0f0f0;
$grey-4: #707070;
$white: #ffffff;
$blue: #0073b1;
$dark-blue: #09609c;
$darker-blue: #002e6e;
$light-blue: #52d7fd;
$yellow: #fec34f;
$dark-yellow: #d5a52a;
$darker-yellow: #b08018;
$red: #d72000;
$text-black: $black;
$text-grey: $grey-1;
$text-white: $white;
$disabled-text-grey: $grey-2;
$keyline-grey: $grey-2;
$disabled-line-grey: $grey-3;
$panel-grey: $grey-3;
$dark-grey: $grey-3;
$button-colour: $blue;
$button-hover: $dark-blue;
$button-active: $darker-blue;
$revenue-colour: $yellow;
$revenue-hover: $dark-yellow;
$revenue-active: $darker-yellow;
$link-colour: $blue;
$link-hover: $dark-blue;
$link-active: $darker-blue;
$focus-colour: $darker-blue;
$error-colour: $red;
